{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANIMALES_ADOPCION</title>
        <link rel="stylesheet" href="{% static 'css/style_ani.css' %}">
        <link rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.css' %}">
    </head>
    <body>
      <head>
        <nav class="navbar navbar-expand-lg" id="navbarPrincipal"
            style="background-color: #3AB397;">
            <div class="container d-flex justify-content-center w-100"
                style="background-color: #3AB397;">
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h2>🐶Happy Pet🐱</h2>
                </a>
                <div class="collapse navbar-collapse"
                    id="navbarTogglerDemo02">
                    <ul
                        class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active text-white"
                                aria-current="page" href="/">
                                Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="/tienda_ani">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="/adopcion_ani">Adopción</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href=/contacto>Contacto</a>
                        </li>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search"
                                placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-success"
                                type="submit">Buscar</button>
                        </form>
                        <!-- Icono de carrito usando Font Awesome -->
                        <div class="nav-item ms-4">
                            <a class="nav-link" href="/carrito">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                        <li class="carrito-desplegable">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16" fill="currentColor"
                                class="bi bi-cart2" viewBox="0 0 16 16">
                                <path
                                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                            </svg>
                            <div id="contenido-carrito-des">
                                <table id="lista-del-carrito">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <a href="#"
                                        class="vaciar-carro">Limpiar</a>
                                    <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th id="total-precio">$0</th>
                                            <a href="#"
                                                class="pagar">PAGAR</a>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="/reg_ini_sesion_ani"><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32" height="32"
                                    fill="currentColor"
                                    class="bi bi-person-circle"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                </svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>

        <main>
            <section>
                <div class="container">
                    <div class="row align-items-center  " id="colaborador">
                      <div class="col-md-6 mb-md-0 p-md-10" id="img-colaborador">
                        <img src="{% static 'img/nosotros-1.jpg'%}" class="w-100 circular-image" alt="...">
                        <div class="col-md-12 p- ps-md-0 " id="texto-nosotros">
                          <h2 class="mt-0">Sara</h2>
                          <p>Sara es una emprendedora apasionada que siempre ha amado a los animales.
                            Con su tienda "Happy Pet", ofrece un paraíso para todas las mascotas y sus dueños.
                            Su compromiso con el bienestar animal y la adopción responsable es evidente en cada aspecto de su
                            negocio.
                            "Happy Pet" es más que una tienda, es un refugio para todos los amantes de los animales en la comunidad.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-6 mb-md-0 p-md-10" id="img-colaborador">
                        <img src="{% static 'img/nosotros-2.jpg'%}" class="w-100 circular-image" alt="...">
                        <div class="col-md-12 p-2 ps-md-0 " id="texto-nosotros">
                          <h2 class="mt-0">Omar</h2>
                          <p>Omar amante de los animales desde su infancia.
                            Con una sólida formación en cuidado animal, decidió unirse a "Happy Pet" para hacer lo que más le gusta.
                            Como gerente de la tienda, se asegura de que cada mascota y cliente reciba atención personalizada.
                            Su amor por los animales y su experiencia hacen de "Happy Pet" el lugar ideal para encontrar la compañía
                            perfecta.</p>
                        </div>
                      </div>
            
                      <div class="col-md-6 mb-md-0 p-md-10" id="img-colaborador">
                        <img src="{% static 'img/nosotros-3.jpg'%}" class="w-100 circular-image" alt="...">
                        <div class="col-md-12 p-2 ps-md-0 " id="texto-nosotros">
                          <h2 class="mt-0">Sebastian</h2>
                          <p>Sebastian es un experto en comportamiento animal que se unió a "Happy Pet" con el deseo de ayudar a los
                            clientes a entender mejor a sus mascotas.
                            Como adiestrador certificado, ofrece clases de obediencia y asesoramiento personalizado.
                            Su dedicación y pasión por los animales hacen de "Happy Pet" un lugar donde cada mascota y su dueño
                            pueden crecer juntos en armonía.</p>
                        </div>
                      </div>
                    </div>
            </section>

        </main>
        <footer class="container py-5">
          <div class="row">
              <div class="col-12 col-md">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                      viewBox="0 0 24 24">
                      <title>Product</title>
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                      </path>
                  </svg>
                  <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
              </div>
              <div class="col-6 col-md">
                  <h5>Características</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="link-secondary text-decoration-none" href="#">Adopción de Mascotas en Línea</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Servicios Veterinarios</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Peluquería para Mascotas</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Clases de Entrenamiento para Mascotas</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Descuentos Exclusivos para Miembros</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Seguro de Salud para Mascotas</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                  <h5>Recursos</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="link-secondary text-decoration-none" href="#">Guías de Cuidado de Mascotas</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Preguntas Frecuentes</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Blog</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Atención al Cliente</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Política de Devoluciones</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                  <h5>Recursos</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="link-secondary text-decoration-none" href="#">Tienda Online</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Eventos y Promociones</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Boletín Informativo</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Foro de la Comunidad</a></li>
                  </ul>
              </div>
              <div class="col-6 col-md">
                  <h5>Sobre Nosotros</h5>
                  <ul class="list-unstyled text-small">
                      <li><a class="link-secondary text-decoration-none" href="#">Nuestra Historia</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Conoce al Equipo</a></li>
                      <li><a class="link-secondary text-decoration-none" href="#">Valores y Misión</a></li>
                  </ul>
              </div>
          </div>
      </footer>
      
        </body>
    </html>