{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PruebaWeb</title>
    <link rel="stylesheet" href="{% static 'css/style_ani.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbarPrincipal" style="background-color: #3AB397;">
        <div class="container d-flex justify-content-center w-100" style="background-color: #3AB397;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <h2>🐶Happy Pet🐱</h2>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/">
                            Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/tienda_ani">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/adopcion_ani">Adopción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href=/contacto>Contacto</a>
                    </li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                    <!-- Icono de carrito usando Font Awesome -->
                    <div class="nav-item ms-4">
                        <a class="nav-link" href="/carrito">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    <li class="carrito-desplegable">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                        </svg>
                        <div id="contenido-carrito-des">
                            <table id="lista-del-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>

                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <td colspan="4"></td>
                                    <td>
                                        <a href="#" class="pagar btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalResumenCarrito">PAGAR</a>
                                    </td>
                                </tfoot>
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th id="total-precio">$0</th>

                                        <a href="#" class="vaciar-carro btn btn-primary">LIMPIAR</a>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/reg_ini_sesion_ani"><svg
                                xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-xl-2">
                    <div class="sidebar">
                        <!-- Contenido del sidebar -->
                        <h2>Categorías</h2>
                        <ul>
                            <!-- Se pueden agrupar los artículos en subgrupos o categorías -->
                            <li><a href="#articulo1">Alimento</a></li>
                            <li><a href="#articulo2">Juguetes</a></li>
                            <li><a href="#articulo2">Salud y
                                    Bienestar</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Main Content -->

                <div class="col-sm-8">
                    <div class="gran-container-tienda" id="container-tienda_2">
                        <div class="contenido-tienda" id="lista1">
                            {% for prod in productos %}
                            <div class="box-item-tienda">
                                <img src="{{ prod.imagen.url }}" id="img-carrito-test" alt="{{ prod.nombre }}">
                                <div class="content-txt">
                                    <h3>{{ prod.nombre }}</h3>
                                    <p>{{ prod.descripcion }}</p>
                                    <p class="precio">${{ prod.precio }}</p>
                                    <p class="categoria">Categoría: {{ prod.categoria.nombre }}</p>
                                    <a href="#" class="agregar-carrito btn-3" data-id="{{ prod.id }}">AGREGAR AL
                                        CARRITO</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <div class="modal fade" id="modalResumenCarrito" tabindex="-1" aria-labelledby="modalResumenCarritoLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalResumenCarritoLabel">Resumen del Carrito</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table" id="resumen-carrito">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h5>Total: <span id="resumen-total-precio"></span></h5>
                    <form id="formularioPago">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="direccion" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="tel" class="form-control" id="telefono" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Confirmar Pago</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/scripts_ani.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
</body>

</html>